<!DOCTYPE html>
<head>
    <title> palette </title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="center"> 
        <h1> moviePalette </h1>
    </div>
    
    <div class="center1">
        <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
            <input type="file" name="video" accept=".mp4">
            <input type="submit" value="Upload">
        </form>
    </div>
</body>


</html>
